*{
    margin: 0px;
}
#div2{
    height:110px;
    background-color: white;
    position: sticky;
    top:0px;
    border-bottom: 2px solid black;
    
}
#one{
    padding-left:7%;
 
    
}
select{
    border:0px 
}
#div3{
    height:600px ;
    border:0px solid;
    background-color:white;
}
#nav3
{
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    padding:3%;
    border:0px solid;
    width:40%;
}
#contact{
    height:1300px;
    width:30%;
    border:2px solid;
    margin-left: 55%;
    margin-top: -50%;
    display:flex;
    flex-direction: column;
    padding:5%;
    font-size: larger;
}
input{
    width:90%;
    height:70px;
    margin-top:2%
    
}
label{
    margin-top:4%
}
#two{
    width:90%;
    height:70px;
    margin-top:4%;
    border:1px solid
    
}
option{
  padding:10%;
  font-size: 10px;

}
input::placeholder{
    padding:10px;
    font-size: large;
}