*{
    margin:0px;
    box-sizing: border-box;
}
#div1{
    height:40px;
    background-color: black;
   
}
#nav{
    display:flex;  
}
#a1{ 
    padding-top:1%;
    text-decoration: none;
    padding:1%;
    color:white;min-height:10%;
    line-height:30px;
}
#a1:hover{
    background-color: white;
    color:black;
    border-bottom: 0px solid;
}
#div2{
    height:110px;
    background-color: white;
    position: sticky;
    top:0px;
    border-bottom: 0px solid black;
    
}
#one{
    padding-left:7%;
}
select{
    border:0px 
}
#div3{
    height:700px ;
    border:0px solid;
    background-color: aliceblue;
}

#nav3
{
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    padding:3%;
    border:0px solid;
    width:40%;
    height:700px
    

}
#div4{
    height:150px;
    border:0px solid;
    background-color: black;
    width:70%;
    margin-left: 15%;
    border-radius: 7px;
    margin-top:-2%;
    position:relative;
    display: flex;

}
#div5{
    height:600px;
    border:0px solid;
    display: flex;
}
#d5{
    height:500px;
    border:0px solid;
    width:26%;
    
}
#div6{
    height:590px;
    border:1px solid rgb(13, 122, 230) ;
    background-color: rgb(13, 122, 230);
}
#d2{
    height:250px;
    width:20%;
    border:0px solid; margin-left: 50%;
}
#d3{
    height:250px;
    width:40%;
    border:0px solid;
    margin-left: 50%;
}
